.DS_Store
tmux/plugins/
raycast
fzf
history.txt
# Karabiner backups
dotfiles/karabiner/.config/karabiner/automatic_backups/

**/.claude/settings.local.json
.turbo
# Node dependencies
node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*